 *{

    box-sizing: border-box;
} 

body {

    background-color:  #f3f3f3;
    margin:0;
}
nav{

    background-color: rgb(94, 26, 143);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;

}
nav ul {
    padding: 1rem;
    margin: 0; 
    list-style: none;
    display: flex;
    gap: 1rem;

}
nav a {

    color:inherit;
    text-decoration: none;
    height: 100%;
    display:flex ;
    align-items: center;
    padding: .25rem;

}
nav li.active {

    background-color: rgb(117, 76, 147);
} 
nav li:hover {
    color: white;
    background-color: rgb(187, 134, 224);
}



.container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0,0, 0, 0.5);
    background-color: white;
}

.container .ql-container.ql-snow {

    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow {

    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #f3f3f3;
    border: none;
    /* box-shadow: 0 0 5px 0 rgba(0,0, 0, 0.5); */
}

@page {
    margin: 1in;
}

@media print {
    body {

        background:none
    }

    .container .ql-editor {
    width : 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
    } 

    .container .ql-toolbar.ql-snow {
        display: none;
        } 

}
.standalone-container {
    margin: 50px auto;
    max-width: 450px;
  }
  
  .my-link {
    color: white;
    text-decoration: none;
  }
  
  th {
    text-align: center;
  }
  
  td {
    text-align: center;
  }
  
  .versions {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .home {
    text-align: center;
    font-size: 4rem;
  }